<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--Главная задача этого файла создать нам объект session factory-->
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5433/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>
        <property name="hibernate.javax.cache.uri">/ehcache-config.xml</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="az.hibernate.repeat.entity.User"/>
<!--                <mapping class="az.hibernate.core.entity.User"/>-->
        <mapping class="az.hibernate.repeat.entity.Company"/>
        <!--        <mapping class="az.hibernate.core.entity.Company"/>-->
        <mapping class="az.hibernate.repeat.entity.Profile"/>
        <mapping class="az.hibernate.repeat.entity.Payment"/>
        <mapping class="az.hibernate.repeat.entity.Country"/>
    </session-factory>
</hibernate-configuration>